/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

// Vendor
@import "bourbon";
@import "base/variables"; //Bourbon sass variables provided by Bitters used by Refills
@import "refills/tooltip";
@import "yaml/core/base";
@import "yaml/screen/grid-960gs-12";
@import "yaml/screen/typography";
@import "yaml/navigation/hlist";
@import "yaml/forms/gray-theme";
@import "font-awesome";
@import "ember-animated-outlet";

// App
@import "navbar";
@import "game";

$text-color: #ffffff;
$text-secondary-color: #C0C0C0;
$z-haze: 1;
$z-main: 2;

.secondary-text {
  color: $text-secondary-color;
}

body {
  background: url("gray_scratch_bg.jpg") top center;
  color: $text-color;
  //Javascript is being used to keep the height of body in-sync with document
  position: relative; //Relative so haze and footer align to bottom with bottom: 0;
}

body:before {
  @include linear-gradient(top,rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 71%,rgba(0,0,0,0) 100%, $fallback: rgba(0,0,0,0));
  content: "";
  height: 130px;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $z-haze;
}

body:after {
  @include linear-gradient(top,rgba(0,0,0,0) 11%,rgba(0,0,0,0.04) 15%,rgba(0,0,0,0.75) 100%, $fallback: rgba(0,0,0,0));
  bottom: 0;
  content: "";
  height: 400px;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: $z-haze;
}

.site-header,
.site-footer,
.site-main {
  position: relative;
  z-index: $z-main;
}

.site-header {
  min-height: 50px;
}

.site-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-family: Georgia, Serif;
}

$center-form-width: 500px;

.center-form {
  max-width: $center-form-width;
}

.sign-in,
.sign-up {
  @extend .center-form;

  .submit {
    float: inherit;
  }

  .remember-me-checkbox {
    margin-top: 10px;
  }

  .password-confirmation-input {
    margin-top: 12px;
  }
}

div.icon-user:before {
  content: url("user_icon.png");
}

div.icon-quiz-buzz-title:before {
  content: url("quiz_buzz_title.png");
}

div.icon-quiz-buzz-buzzer:before {
  content: url("quiz_buzz_buzzer.png");
}

//Same as .center, but without margin
.text-center {
  display: block;
  text-align: center;
}

