.game-index {
  .heading {
    margin-bottom: 2em;
  }

  .game-name {
    font-size: 3.4em;
  }

  .game-seconds-remaining {
    font-size: 1.8em;
    padding-bottom: 20px;

    .seconds-remaining-number {
      font-size: 2em;
    }
  }

  .game-team {
    padding-bottom: 15px;
  }

  .team-name {
    font-size: 2em;
  }
}
