.game-index {
  .heading {
    margin-bottom: 2em;
  }

  .game-name {
    font-size: 3.4em;
  }

  .game-seconds-remaining {
    font-size: 1.8em;
    padding-bottom: 20px;

    .seconds-remaining-number {
      font-size: 2em;
    }
  }

  .game-team {
    padding-bottom: 15px;
  }

  .team-name {
    font-size: 2em;
  }

  hr {
    @include linear-gradient(left,rgba(0,0,0,0),rgba(247, 255, 22, .75),rgba(0,0,0,0));
    border: 0;
    border-color: $fg-color;
    height: 1px;
    padding: 0;
  }
}
